// Helps
@mixin rotate($degree) {
    -webkit-transform: rotate($degree);
    -moz-transform: rotate($degree);
    transform: rotate($degree);
}

// Colors
$main-color: #282828;
$green:#1df52f;
$gray:#bdbdcb;
$dark-gray:#4d4b63;
$light-blue:#409af5;
$purple:#6347fd;
$orange:#f08a38;
// Styles

$darkest-clock-shadow:2px 2px 6px rgba(0, 0, 0, .5);
$dark-clock-shadow:-2px -2px 6px rgba(67, 67, 67, .5);

// Reset All Browser defualt style
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Start styling
body {
    // background-color: $main-color;
    text-align: center;
    font-size: 2rem;
}

.container {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;

    .clock {
        background-color: $main-color;
        width: 28rem;
        height: 28rem;
        position: relative;
        padding: 1rem;
        border: 6px solid $main-color;
        box-shadow: $dark-clock-shadow,
            inset $darkest-clock-shadow,
            inset $dark-clock-shadow,
            $darkest-clock-shadow;
        border-radius: 50%;
        margin: 40px auto;

        .outer-clock-face {
            position: relative;
            background-color: $main-color;
            overflow: hidden;
            width: 100%;
            height: 100%;
            border-radius: 100%;

            &::after {
                @include rotate(90deg)
            }

            &::after,
            &::before,
            & .marker {
                content: "";
                position: absolute;
                left: 49.4%;
                width: 5px;
                height: 100%;
                background: $green;
                z-index: 0;
                border-radius: 8px;
            }

            & .marker {
                background: $gray;
                width: 3px;

                &.marker-one {
                    @include rotate(30deg)
                }

                &.marker-two {
                    @include rotate(60deg)
                }
                &.marker-three {
                    @include rotate(120deg)
                }

                &.marker-four {
                    @include rotate(150deg)
                }
            }
        }

        .inner-clock-face {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
            background-color: $main-color;
            border-radius: 100%;

            &::before {
                content: '';
                position: absolute;
                left: 50.3%;
                top: 50%;
                width: 16px;
                height: 16px;
                border-radius: 18px;
                margin-left: -9px;
                margin-top: -6px;
                background-color: $dark-gray;
                z-index: 5;
            }
        }

        .hand {
            width: 50%;
            height: 4px;
            background: $light-blue;
            position: absolute;
            right: 50%;
            top: 50%;
            border-radius: 8px;
            transform-origin: 100%;
            @include rotate(90deg);
            transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

            &.hour-hand {
                width: 20%;
                z-index: 1;
            }

            &.min-hand {
                height: 3px;
                width: 26%;
                z-index: 2;
                background-color: $purple;
            }

            &.second-hand {
                background-color: $orange;
                width: 32%;
                height: 2px;
            }
        }
    }
}